body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f8fa; /* GitHub background color */
    color: #24292e; /* GitHub text color */
}

header {
    background-color: #24292e; /* GitHub header color */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0;
}

#header-title {
    font-size: 20px;
    flex: 1;
    text-align: left;
    margin-right: auto;
}

#language-switcher {
    position: static;
    margin-left: 10px;
    margin-top: 0;
    background-color: white;
    color: #0366d6; /* GitHub blue */
    border: 1px solid #e1e4e8; /* GitHub border color */
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.2s, border-color 0.2s;
}

#language-switcher:hover {
    border-color: #0366d6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 1px 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.repo {
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #e1e4e8; /* GitHub border color */
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.repo:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.repo h3 {
    margin: 0 0 10px;
    font-size: 20px;
}

.repo h3 a {
    text-decoration: none;
    color: #0366d6; /* GitHub blue */
}

.repo h3 a:hover {
    text-decoration: underline;
}

.repo p {
    margin: 5px 0;
    color: #586069; /* GitHub secondary text color */
}

.octicon-mark-github {
    fill: white;
    height: 30px;
    margin-right: 15px;
}

/* Prevents font size from being adjusted on mobile devices */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

#profile-info {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 100%;
    margin: 15px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#profile-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

#profile-info .details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex: 1;
}

#profile-info p {
    margin: 5px 0;
    color: #586069;
}

#profile-info a {
    color: #007bff;
    text-decoration: none;
}

#profile-info a:hover {
    text-decoration: underline;
}